* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$titles: #2c3e50;
$texts: #6a6a6a;
$background: #2ecc71;
$conversorBg: #27ae60;
$conversorBorderColor: #d35400;
$titlesDark: #2ecc71;
$textsDark: #1a8246;
$backgroundDark: #2c3e50;
$conversorBgDark: #34495e;
$conversorBorderColorDark: #8e44ad;

:root {
  --titles: #{$titles};
  --texts: #{$texts};
  --background: #{$background};
  --conversorBg: #{$conversorBg};
  --conversorBorderColor: #{$conversorBorderColor};
}

.dark-mode {
  --titles: #{$titlesDark};
  --texts: #{$textsDark};
  --background: #{$backgroundDark};
  --conversorBg: #{$conversorBgDark};
  --conversorBorderColor: #{$conversorBorderColorDark};
}

::selection {
  background: var(--titles);
  color: var(--background);
}

#app {
  max-width: 400px;
  height: 400px;
  background-color: var(--background);
  color: var(--titles);
  font-family: "Kulim Park", sans-serif, helvetica;
  padding: .25rem 1rem .25rem 1rem;
  transition: 0.2s all ease;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .c-header-title {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
  }
  .c-changeMode {
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 3.275);
    align-self: flex-end;
    max-height: 1.2rem;
    &:hover {
      transform: rotate(-25deg);
      transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 3.275);
    }
  }
}

main {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  .question-section {
    width: 80%;
    align-self: flex-start;
  }
  .converter-section {
    height: 60%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--conversorBg);
    border-radius: .30rem;
    padding: 0 .5rem 0 .5rem;
    border: 2px solid var(--conversorBorderColor);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
  }
}
.c-question-title {
  font-size: 1.2rem;
  font-weight: 700;
  padding: .25 0 .25rem 0;
}

.c-question-description {
  font-size: 1.2rem;
  color: var(--texts);
}

.input-section{
  width: 100%;
}

.c-converter-label{
  font-weight: 300;
  font-size: 1.2rem;
  
}
.c-converter-field{
  width: 80%;
  margin-top: .75rem;
  border-radius: .25rem;
  border: none;
  padding: .25rem;
  -webkit-appearance: none;
  appearance: textfield;
}

.c-converter-result{
  
  font-size: 1.75rem;
  font-weight: 400;
}

.c-copyBtn{
  font-size: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--titles);
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 3.275);
  &:hover{
    transform: translateY(-.10rem);
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 3.275);
  }
}